
.hero {
    display: flex;
    position: relative;
}
.wrap-banner-left {
    flex: 0 0 44.11111%;
    max-width: 44.11111%;
    display: flex;
}
.wrap-banner-left img {
    object-fit: cover;
    object-position: 0 0;
}
.wrap-banner-right {
    flex: 0 0 55.88889%;
    max-width: 55.88889%;
    display: flex;
}
.wrap-banner-right img {
    object-fit: cover;
    height: 100%;
}
.hero-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.name-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.hero-title {
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.hero-subtitle,
.hero-subtitle a {
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.hero-subtitle a {
    text-transform: capitalize;
}
.hero-subtitle a:hover {
    opacity: 1;
}
.hero-subtitle a::after {
    content: "|";
    font-weight: 400;
    font-size: 18px;
    margin-left: 6px;
}

/* why-choose-us section */

.why-choose-us {
    padding: 58px 0 85px;
}
.section-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.description-wrap {
    padding: 20px 55px 0 0;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -1px;
    color: #383446;
}
.subtitle-section {
    font-size: 18px;
    letter-spacing: 4px;
    color: #1d1b24;
    margin-bottom: 27px;
    letter-spacing: 3px;
}
.title-section {
    font-size: 55px;
    line-height: 1;
    color: #1d1b24;
    margin-bottom: 22px;
    letter-spacing: -3.5px;
}
.text-subtitle {
    color: #0053FF;
    margin: 26px 0 29px -13px;
    letter-spacing: 3px;
}

.wrap-border-img {
    position: relative;
}
.wrap-border-img .wrap-img-top {
    position: absolute;
    top: 0;
    right: 22px;
    z-index: 10;
}
.wrap-border-img .wrap-square {
    position: absolute;
    z-index: 9;
    width: 482px;
    height: 430px;
    border: 7px solid #042C71;
    border-radius: 5px;
    top: 19.7%;
    right: 9%;
}
.wrap-border-img .wrap-img-bot {
    position: absolute;
    bottom: -18px;
    left: -17px;
    z-index: 20;
}

/* row-group-section */

.row-group-section {
    padding: 108px 0 127px;
    background-color: #4C475C;
    text-align: center;
}
.row-group-section .title-section {
    font-size: 40px;
    color: #fff;
    max-width: 815px;
    letter-spacing: 1px;
    line-height: 1.45;
    margin: 0 auto 32px;
}
.row-group-section .btn {
    margin: 0 auto;
}
.row-group-section .btn .icon {
    margin-left: 15px;
}

/* ourteam-section */

.ourteam-section {
    padding: 90px 0;
}
.ourteam-headings {
    text-align: center;
}
.ourteam-section .subtitle-section {
    margin-bottom: 4px;
    font-weight: 500;
}
.ourteam-section .title-section {
    margin-bottom: 40px;
}
.ourteam-section .description {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto 75px;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -1px;
}
.row-ourteam {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 3em;
    padding: 0 3em;
}

.row-ourteam .wrap-member-team {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
.row-ourteam .wrap-member-team img {
    width: 100%;
}
.list-icon.col-nav-social {
    position: absolute;
    right: 7.3%;
    top: 5.5%;
    width: 54px;
    height: 54px;
}
.list-icon.col-nav-social .icon {
    cursor: pointer;
    width: 54px;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0053FF;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-icon.col-nav-social .icon i {
    font-size: 23px;
}
.list-icon.col-nav-social .hidden-list {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
.list-icon.col-nav-social:hover .hidden-list {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}
.widgets-nav-social li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.widgets-nav-social li a i {
    color: #fff;
    font-size: 20px;
    transition: all .25s ease-in-out;
}
.list-icon.col-nav-social li a i:hover {
    opacity: .7;
}
.list-icon.col-nav-social .widgets-nav-social {
    position: absolute;
    display: inline-block;
    margin: 45px 0 0 0;
    right: 0;
}
.widgets-nav-social {
    display: flex;
    width: 100%;
    line-height: 53px;
    border-radius: 5px;
    background-color: #0053FF;
}

.row-ourteam .wrap-member-team .wrap-title {
    background-color: #fff;
    margin: -50px 35px 0 35px;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 6%);
    border-radius: 5px;
    padding: 8px 25px;
}
.wrap-title .name-member a {
    color: #0053FF;
    font-size: 25px;
}
.wrap-title .woker {
    color: #565872;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
}

@media only screen and (max-width: 1199px) {
    .section-wrap {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .description-wrap {
        padding: 0 15px;
    }
    .wrap-border-img {
        display: none;
    }
    .row-ourteam {
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 1em;
    }
}
@media screen and (max-width: 991px) {
    .wrap-banner-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .wrap-banner-right {
        display: none;
    }
    .name-page {
        align-items: center;
    }
    .wrap-banner-left img {
        height: 100%;
        min-height: 250px;
        object-position: center;
    }
    .wrap-border-img {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .hero-title,
    .title-section {
        font-size: 35px;
    }
    .hero-subtitle, .hero-subtitle a,
    .subtitle-section,
    .description-wrap,
    .ourteam-section .description {
        font-size: 14px;
    }
    .subtitle-section {
        margin-bottom: 15px;
    }
    .why-choose-us,
    .row-group-section,
    .ourteam-section {
        padding: 50px 0;
    }
    .row-group-section .title-section {
        font-size: 28px;
    }
    .row-ourteam {
        grid-template-columns: repeat(1,minmax(0,1fr));
        padding: 0 15px;
    }
    .row-ourteam .wrap-member-team .wrap-title {
        margin: -50px 15px 0 15px;
    }
}